<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="header">
        <a href="#" class="logo">COWiN</a>
        <nav class="nav-items">
            <a href="#">Home</a>
            <a href="{% url 'hello' %}">Data</a>
            <a href="#">More Resources</a>
        </nav>
    </header>
    <main>
        <div class="intro">
            
            <button><a href="{% url 'hello' %}">Latest Data</a></button>
        </div>
        
        
    </main>
    <footer class="footer">
        <div class="copy">© 2022 Developer</div>
        <div class="bottom-links">
            <div class="links">
                <span>More Info</span>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <div class="links">
                <span>Social Links</span>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>